@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

section {
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.swiper {
    width: 80%;
    height: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    padding: 50px;
}

.image {
    width: 100%;
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* S'assure que la hauteur de la colonne est pleine */
}

.description {
    text-align: justify;
    width: 95%;
}

.logos {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-end; /* Aligne les logos en bas */
}

.logos img {
    width: 40px;
    height: 40px;
    object-fit: contain; /* Ajuste l'image pour qu'elle s'adapte sans déformation */
}

.repo-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #3498DB , #34495E);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
}

/* ACCUEIL */
.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.photo-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.header-nav a {
    position: relative;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.header-nav a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.header-nav a:hover::before {
    width: 100%;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    background: linear-gradient(to bottom, #3498DB , #34495E);
    color: white;
    font-size: 50px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.sub-text {
    margin: 20px 0;
    text-align: start;
    font-size: 15px;
}

.emoji {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.line {
    margin: 2px 0;
}

.cursor::after {
    content: '|';
    animation: blink 1s step-end infinite;
    margin-left: 1px;
}

.btn-icon {
    font-size: 20px;
}

.row {
    position: relative;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./assets/wave.png');
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* ************ */
/* ME */
.container-about-me {
    display: grid;
    padding-top: 80px;
    padding-bottom: 20px;
    place-items: center;
}

.about-me-content {
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: justify;
    max-width: 1200px;
}

.download-button-CV {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
/* ************ */
/* SKILLS */
.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    gap: 40px;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: justify;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.skills-grid > div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-grid > div:nth-child(n+2) {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.skills-grid > div:nth-child(n+2) .skills-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge {
    width: auto;
    height: 25px;
    background-color: #e0e0e0;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.badge i,
.badge img {
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle; /* Ajustement de l'alignement vertical pour une meilleure présentation */
}

.badge:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#button-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: linear-gradient(to bottom, #3498DB , #34495E);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center; /* Pour centrer le contenu */
    line-height: 0; /* Supprime l'espacement interne par défaut */
    transition: background-color 0.3s; /* Animation de transition */
}

#button-top:hover {
    background-color: black;
    color: white;
}

#button-top i {
    font-size: 18px;
    display: block; /* Assure que l'icône se comporte comme un bloc */
    margin: auto; /* Centre l'icône horizontalement */
}

/* Pour cacher le bouton au chargement de la page */
#button-top.hidden {
    display: none;
}
/* ************ */

/* PROJECTS */
.container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    gap: 40px;
}

/* Custom scrollbar styles */
.grid-container::-webkit-scrollbar {
    width: 12px;
}

.grid-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.grid-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ************ */

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes highlight {
    0% { transform: translateX(-50%) scale(1); }
    50% { transform: translateX(-50%) scale(1.1); }
    100% { transform: translateX(-50%) scale(1); }
}

/* BREAKPOINTS */
@media (max-width: 1024px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        overflow-y: auto; /* Enable vertical scrolling */
        max-height: 600px;
        gap: 10px;
    }

    .grid-container img {
        width: 100%;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        border-radius: 20px;
    }

    .content-container h2 {
        font-size: 1.5em;
    }

    .content-container p {
        font-size: 1em;
    }

    .logos img {
        width: 40px;
        height: 40px;
    }

    .repo-button {
        font-size: 0.9em;
    }
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .header-nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.header-nav {
        height: 15rem;
    }

    .header-nav a {
        position: relative;
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.header-nav a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .header-nav a:hover::before {
        width: 0;
    }
}

@media only screen and (max-width: 768px) {
    .emoji {
        width: 50px;
        height: 50px;
    }
  
    .line {
        font-size: 6vw;
    }

    .container-about-me {
        grid-template-columns: 1fr;
    }

    .about-me-content {
        font-size: 11px;
    }
}

@media only screen and (max-width: 480px) {
    .photo-profil {
        width: 150px;
        height: 150px;
    }

    .emoji {
        width: 30px;
        height: 30px;
    }
  
    .line {
        font-size: 6vw;
    }

    .btn-round {
        font-size: 15px !important;
    }

    .btn-icon {
        font-size: 15px !important;
    }

    /* .container-about-me p {
        font-size: 1.2rem;
    } */

    .about-me-content {
        font-size: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        overflow-y: auto;
        max-height: 300px;
    }

    .content-container h2 {
        font-size: 1em;
    }

    .content-container p {
        font-size: 0.8em;
    }

    .logos img {
        width: 20px;
        height: 20px;
    }

    .repo-button {
        font-size: 0.7em;
    }
}


